body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#currency-form {
  text-align: center;
  background: linear-gradient(120deg, #4682B4, #F0E68C);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  margin-bottom: 12px; 
  display: block;
}

input, select {
  margin-bottom: 16px; 
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
}

button {
  background-color: #4caf50; /* Cor de fundo verde */
  color: white;
  padding: 10px 20px; 
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049; /* Cor de fundo verde escuro quando hover */
}

#result {
  margin-top: 20px;
  font-size: 20px;
}
